@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Pacifico|Raleway|Shadows+Into+Light&display=swap');


html{
    height: 100%;
    overflow: hidden;
}
body{
    color: #000;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 28vw 0 1vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}
header h1 {
    font-family: "Luna";
    font-size: 3em;
    line-height: 14vh;
    color: white;
    text-transform: uppercase;
}
header .bigtitle{
    top: -3.8vh;
    margin-top:-19.67vh;
    text-shadow: 2px 4px #000;


}
header .bigtitle h1{
    
}

#how{
    padding-top: 3px;
    margin-top: 0;
    color: white;
    font-size: 3em;
    font-family: "TIMES";

}
header, header:before{
    background: 50% 50% / cover;
}
header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/IMG_5569.JPG);
    background-size: center;
    background-position: center;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * { 
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}



/*
@media only screen and (min-width: 375px) {

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 150vw;
}
header h1 {
    margin-top: 100px;
    font-family: "Luna";
    font-size: 2em;

    color: white;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/IMG_4340.JPG);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 1vh;
}
}*/
h3.error{
    display: none;
}
.error{
    display: none;
    position: fixed;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    top: 30%;
    left: 10%;
    font-size: 36px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
}


@media only screen and (max-width: 700px) {
    h3.error{
    display: block;
    z-index: 1;
}
.error{
    
    position: fixed;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    top: 30%;
    left: 10%;
    font-size: 36px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    font-size: 30px;
}
.errortotal{
    display: none;
    filter: brightness(0%)

}



}


#section1{
    display: block;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url(../images/IMG_9553.JPG);
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.yo{
  display: block;
    text-align: left;
    margin: 0;
    padding: 18vh 15vw 0vh 25vw;
/*    padding: 7% 25% 0 25%;*/
}

.foto img{
    width: 100%;
    height: 100%;

/*    padding: 0 0 0 50%;
*/
}

.foto{
    width: 45vh;
    height: 45vh;
}


#table{
    position: block;
}

.yo #table tr .hola{
    color: white;
    margin-top: 0;
    vertical-align: top;
    font-family: 'Ibarra Real Nova', serif;
    line-height: 26px;
    font-weight: 20;
    padding-right: 1.3vw;
    text-align: justify;
    width: 24vw;
    font-size: 1.2em;
    text-indent: 40px;
    text-shadow: 1px 1px black;

   /*letter-spacing: 0.006em;*/
}

.primero,.segundo{
      text-indent: 40px;
      word-wrap: break-word;
}
/*
table, tr,th{
    border: 5px solid red

}
*/

.hola{
    top: auto;
    width: 50vh;
    height: 50vh;

}


    .full{
        
        background: white;
        height: 100vh;
        width: 100vw;

    }
    .full p{
        margin: 0;
    }

    .fullgreen{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/IMG_0843.JPG);
        height: 100vh;
        width: 100%;
        background-size: cover;
        display: block;
     



    }

    .full-red{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/IMG_9553.JPG);
        height: 100vh;
        width: 100vw;
    }

    .fotacos{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/IMG_2809.JPG);
        height: 100vh;
        background-size: cover;
        width: 100vw;
/*        background-attachment: fixed;
*/    }




.youtube{
    text-decoration: none;
    color: #00FE5F;
}

.youtube:hover{
    color:red;
    text-decoration: underline;;
    transition: 0.8s color ;

}

.fa {
  padding: 20px;
  font-size: 0;
  width: 4vw;
  text-align: center;
  text-decoration: none;
  margin: 1em 0.5em;
  border-radius: 10%;
}

.fa::before{
    font-size: 2em;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer{
   
    position: absolute;
    background-color: black;
    width: 100%;
    height: 20vh;
}

.iconos{
    padding-top: 4vh;
    text-align: center;
}
