body{
	margin: 0;
	padding: 0;
}


.cuerpo{
	height: 100vh;
	width:100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center; 
		overflow-y: scroll;

}

.cuerpo h1{
	padding: 50px;
	margin: 0;
	text-align: center;
	font-family: 'Lilita One', cursive;
	color: white;
	font-size: 70px;
	text-shadow: 2px 3px black;
	font-weight: 400;
}

.cuerpo h2{
	margin-top: 0;
	text-align: center;
	color: white;
	font-size: 3em;
	text-shadow: 1px 1px black;
	font-weight: bold;
	padding-top: 3vh;

}


.cuadro{
	position: absolute;
	display: block;
	position: relative;
	width: 60%;
	background-color:rgba(0, 0, 0, 0.7);
	left: 20%;
	right: 20%;
	color: white;
	margin-top: 10vh;
	margin-bottom: 10vh;





}
.cuadro p {
	font-size: 1.1em;
	text-align: left;
	padding: 0px 30px 0px 30px;
	line-height: 1.3em;
	text-indent: 5%;
}
.cuadro h1{
	padding-bottom: 0;
}


.atras{
		text-align: center;
		padding-bottom: 20px;

}
.atras a{
	color: white;
	text-decoration: none;
	
}

.atras a:hover {
	text-decoration: underline;
}

.pass,.ds,.orien{
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;

}

.pass img, .ds img, .orien img{
	width: 34vw;
	height:38vh;
	margin-left: auto;
	margin-right: auto;
}

.ds img{
	width: 34vw;
	height: 80vh;
}

.lista{
	padding-top: 0;
	padding-left: 3%;
}

.lista ul{
	padding-top: 0;
	font-size: 1.1em;
	text-align: left;
	line-height: 1.3em;
}
.footnote {
	text-indent: none;
	text-align: center;
	font-size: 0.9em;
	padding-top: 0;
	margin-top: 0;
    font-weight: 100;
    font-style: italic;
    font-family: arial;

}

